body {
    margin: 20px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.2em;
  }
  
  button {
    background: orange;
    color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Lato';
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  button:hover {
    background: blue;
  }
  
  .scan-headline {
    color: cornflowerblue;
  }
  
  .infected-headline {
    color: red;
  }